[Unit]
Description=Object Detection API Demo
After=syslog.target network.target auditd.service

[Service]
ExecStart=/root/anaconda2/envs/wmlce_env/bin/python /opt/object-detection-app/object_detection_app/app.py
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
